# Ignore Python virtual environments
backend/venv/
audio_worker/venv/

# Ignore local files
backend/config.py
insp/

# Ignore node modules
frontend/node_modules/

# Ignore env files (contain secrets)
.env
backend/.env
frontend/.env
